*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --heading-font:"Poppins", sans-serif;
  --main-font: 'Open Sans', sans-serif;
  --body-bg-color: #f9f9f9;
  --main-color: #030c10;
  --body-color: #444444;
}
body{
  width: 100%;
  height: auto;
  padding: 10px 5%;
  margin: 0;
  background-color: var(--body-bg-color); 
  color: var(--main-color);
  overflow-x: none;
  user-select: none;
}
.wrapper{
  min-height: 100vh;
}
nav{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-bg-color);
  z-index: 999;
  border-bottom: 1px solid #cbcbcb;
  padding: 0px 10px;
}
.logo_wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.logo_link{
  text-decoration: none;
  cursor: pointer;
  color: #6c63ff;
}
.logo h2{
  font-family: var(--heading-font);
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0;
  line-height: 25px;
  font-weight: 800;   
  color: #6c63ff;
}
.logo_wrapper p{
  font-family: var(--heading-font);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
}
.logo_wrapper p:hover{
  text-decoration: underline #6c63ff;
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
  
}
.hamburger{
  width: 30px;
  height: auto;
  display: none;
}
.hamburger .bar{
  background-color: var(--main-color);
  height: 4px;
  width: 30px;
  margin: 5px 0px 0px 0px;
}
.nav_item_wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  gap: 10px;
}
.nav_item_wrapper ul{
  list-style: none;
}
.nav_item_wrapper ul li{
  line-height: 70px;
  display: inline-block;
  margin: 0px 15px;
}
.nav_item_wrapper ul li a{
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--main-font);
  font-weight: 600;
  position: relative;
  color: #6c63ff;
}
.nav_item_wrapper ul li a:hover{
  color: #6c63ff;
}
.nav_item_wrapper ul li a::after{
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0%;
  height: 3px;
  background-color: #6c63ff;
  transition: 0.4s ease;
}
.nav_item_wrapper ul li a:hover::after{
  width: 100%;
}
.dark_mode{
  background-color: var(--main-color);
  color: var(--body-bg-color);
}
.darkBtn{
  opacity: 0;
  position: absolute;
}
.dark_label{
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 3px;
  position: relative;
  height: 25px;
  width: 50px;
  border: 1px solid #6c63ff;
  color: #6c63ff;
}
.dark_label .dark_ball{
  background-color: #6c63ff;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  position: absolute;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.darkBtn:checked + .dark_label .dark_ball{
  transform: translateX(22px);
}
@media screen and (max-width: 967px){
  body{
    width: 100%;
    height: 100%;
    padding: 10px 2%;
    margin: 0;
    background-color: var(--body-bg-color); 
    color: var(--main-color);
  }
  .wrapper{
    height:  auto;
    width: 100%;
  }
  nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cbcbcb;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 15px;
    background-color: var(--body-bg-color);
    z-index: 99;
  }
  .logo_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  .logo_link{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
  .logo h2{
    font-family: var(--heading-font);
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0;
    line-height: 25px;
    font-weight: 800;
    color: #6c63ff;
  }
  .logo_wrapper p{
    font-family: var(--heading-font);
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: #061528;
    display: none;
  }
  .logo_wrapper p:hover{
    text-decoration: underline;
    transform: scale(0.9);
    transition: 0.4s ease-in-out;
  }
  .hamburger{
    width: 30px;
    height: 30px;
    display: block;
  }
  .hamburger .bar{
    background-color: var(--main-color);
    height: 4px;
    width: 30px;
    margin: 5px 0px 0px 0px;
    transition: 0.2s ease;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    transition: 0.2s;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
    transition: 0.2s ease;
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-9px) rotate(-225deg);
    transition: 0.2s ease;
  }
  .nav_item_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    gap: 10px;
  }
  .nav_item_wrapper ul{
    list-style: none;
    position: absolute;
    top: 70px;
    width: 100%;
    height: auto;
    left: -100%;
    background-color: #030c10;
    transition: 0.2s ease;
    text-align: center;
  }
  .nav_item_wrapper ul.active{
    left: 0%;
    transition: 0.2s ease;
  }
  .nav_item_wrapper ul li{
    line-height: 100px;
    display: block;
    margin: 0px 15px;
  }
  .nav_item_wrapper ul li a{
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--main-font);
    font-weight: 600;
    position: relative;
    color: whitesmoke;
  }
  .nav_item_wrapper ul li a:hover{
    transform: scale(1.1);
    transition: 0.2s;
    color: #6c63ff;
  }
  .nav_item_wrapper ul li a::after{
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 0%;
    height: 3px;
    background-color: #6c63ff;
    transition: 0.4s ease;
  }
  .nav_item_wrapper ul li a:hover::after{
    width: 100%;
  }
  .dark_mode{
    background-color: var(--main-color);
    color: var(--body-bg-color);
  }
  .darkBtn{
    opacity: 0;
    position: absolute;
  }
  .dark_label{
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3px;
    position: relative;
    height: 25px;
    width: 50px;
    border: 1px solid #6c63ff;
  }
  .dark_label i{
    color:#6c63ff;
  }
  .dark_label .dark_ball{
    background-color: #6c63ff;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    position: absolute;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  .darkBtn:checked + .dark_label .dark_ball{
    transform: translateX(24px);
  }
}
/*********************************this is the end of nav********************/
header{
  width: 100%;
  overflow: none;
  min-height: 80vh;
}
.header_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10% 0px 3% 0px;
}
.header_item_One{
  width: 40%;
}
.header_item_One h1{
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: var(--heading-font);
  margin-bottom: 10px;
}
.header_item_One h1 span{
  color: #6c63ff;
}
.header_item_One p{
  font-size: 0.9rem;
  font-family: var(--main-font);
  line-height: 1.9;
  margin: 0px 0px 30px 0px;
}
.header_links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_links .social_div{
}
.header_links .social_div a{
  border: 1px solid #6c63ff;
  color: #6c63ff;
  padding: 10px 14px;
  margin: 5px;
  border-radius: 2px;
}
.header_links .social_div a:hover{
  background-color: #6c63ff;
  color: var(--body-bg-color);
  transition: 0.2s ease;
}
.hire_div a{
  background-color: #6c63ff;
  color: var(--body-bg-color);
  padding: 10px 15px;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 400;
  font-family: var(--main-font);
  text-decoration: none;
  border-radius: 2px;
}
.hire_div a:hover{
  opacity: 0.7;
  transition: 0.2s ease;
}
.header_item_Two{ 
  width: 50%;
  overflow: hidden;
  animation: float 3s infinite alternate-reverse ease-in-out;
}
@keyframes float{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(15px);
  }
}
.header_item_Two img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 967px){
  header{
    width: 100%;
    min-height: 70vh;
  }
  .header_wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30% 0px 10px 0px;
    row-gap: 30px;
  }
  .header_item_One{
    width: 90%;
  }
  .header_item_One h1{
    font-size: 2.5rem;
    line-height: 1.2;
    font-family: var(--heading-font);
    margin-bottom: 20px;
  }
  .header_item_One h1 span{
    color: #6c63ff;
  }
  .header_item_One p{
    font-size: 0.9rem;
    font-family: var(--main-font);
    line-height: 1.9;
    margin: 0px 0px 30px 0px;
  }
  .header_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .header_links .social_div{
  }
  .header_links .social_div a{
    border: 1px solid #6c63ff;
    color: #6c63ff;
    padding: 10px 12px;
    margin: 5px;
    border-radius: 2px;
  }
  .header_links .social_div a:hover{
    background-color: #6c63ff;
    color: var(--body-bg-color);
    transition: 0.2s ease;
  }
  .hire_div a{
    background-color: #6c63ff;
    color: var(--body-bg-color);
    padding: 10px 15px;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: 400;
    font-family: var(--main-font);
    text-decoration: none;
    border-radius: 2px;
  }
  .hire_div a:hover{
    opacity: 0.7;
    transition: 0.2s ease;
  }
  .header_item_Two{ 
    width: 100%;
    align-items: center;
  }
  .header_item_Two img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 567px){
  .header_wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35% 0px;
    row-gap: 30px;
  }
}
/****************************this is the end of header***************************/
.skills{
  width: 100%;
  min-height: 60vh;
  padding: 3%;
}
.skill_heading{
  width: 100%;
  text-align: center;
  margin:  0px 0px 5% 0px;
}
.skill_heading h2{
  font-family: var(--heading-font);
  text-transform: uppercase;
  color: #6c63ff;
  font-size: 1.5rem;
  margin: 0px 0px 10px 0px;
  position: relative;
}
.skill_heading p{
  font-size: 0.9rem;
  font-family: var(--heading-font);
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
}
.skill_items_containers{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 0px 40px 0px;
}
.skill_items{
  width: 50%;
  height: auto;
}
.skill_itemsOne{
  padding: 10px 0px;
}
.skills_box{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.skill_itemsTwo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.skills_title{
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--heading-font);
  color: #6c63ff;
  margin-bottom: 10px;
  display: block;
  margin-bottom: 20px;
}
.skills_bar{
  position: relative;
  width: 100%;
  background-color: #061528;
  height: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.skills_per{
  position: absolute;
  width: 80%;
  background-color: #6c63ff;
  top: 0;
  left: 0;
  height: 8px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.skill_tip{
  position: relative;
  float: right;
  top: -35px;
  right: -10px;
  background-color: #6c63ff;
  color: #f5f5f5;
  font-weight: 600;
  font-family: var(--heading-font);
  font-size: 0.8rem;
  padding: 3px;
  border-radius: 5px;
}
.skill_tip::before{
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  background-color: #6c63ff;
  left: 35%;
  bottom: -5px;
  transform: rotate(45deg);
}
.css{
  width: 70%;
}
.javascript{
  width: 60%;
}
.react{
  width: 40%;
}
@media screen and (max-width: 967px){
  .skills{
    width: 100%;
    min-height: 60vh;
    padding: 3% ;
  }
  .skill_heading{
    width: 100%;
    text-align: center;
    margin:  0px 0px 5% 0px;
  }
  .skill_heading h2{
    font-family: var(--heading-font);
    text-transform: uppercase;
    color: #6c63ff;
    font-size: 1.5rem;
    margin: 0px 0px 10px 0px;
    position: relative;
  }
  .skill_heading p{
    font-size: 0.9rem;
    font-family: var(--heading-font);
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
  }
  .skill_items_containers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 0px 40px 0px;
  }
  .skill_items{
    width: 100%;
    height: auto;
  }
}
/********************************this is the end of my skills***********************/
.service{
  width: 100%;
  height: 100%;
  padding: 0%;
  margin-bottom: 10px;
}
.service_heading h2{
  font-family: var(--heading-font);
  text-transform: uppercase;
  color: #6c63ff;
  font-size: 1.5rem;
  margin: 0px 0px 10px 0px;
  position: relative;
}
.service_heading h2::before{
  position: absolute;
  content: 'service';
  width: 100%;
  bottom: 0;
  left: 0;

}
.service_heaing_info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 50px 0px;
}
.service_heaing_info h3{
  font-size: 1.3rem;
  font-family: var(--heading-font);
  text-transform: capitalize;
}

.service_heaing_info p{
  font-size: 0.8rem;
  font-family: var(--main-font);
  width: 40%;
  word-break: break-all;
  text-align: left;
  line-height: 1.6;
  text-transform: capitalize;
  font-weight: 400;
  border: 1px solid #6c63ff;
  padding: 10px;
}
.service_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.service_item{
  box-shadow: 0px 0px 2px #cbcbcb;
  min-height: 100px;
  padding: 30px;
  border-radius: 10px;
}
.service_item_intro .service_icon{
  background-color: #6c63ff;
  padding: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.service_item_intro .service_icon i{
  font-size: 1.5rem;
  color: var(--body-bg-color);
}
.service_item_intro h4{
  font-size: 1.2rem;
  font-family: var(--heading-font);
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 600;
} 
.service_item_para p{
  font-size: 0.8rem;
  font-family: var(--main-font);
  text-align: left;
  line-height: 1.6;
  margin: 0px 0px 20px 0px;
  word-break: break-all;
}
.service_item_para a{
  font-size: 0.9rem;
  color: #6c63ff;
  text-transform: capitalize;
  font-family: var(--main-font);
  text-decoration: none;
  font-weight: 600;
}
.service_item_para a:hover{
  text-decoration: underline;
}
.service_item_para a span{
  margin: 0px 0px 0px 5px;
  font-size: 0.8rem;
}
@media screen and (max-width: 967px){
  .body_wrapper{
    width: 100%;
    padding: 30% 0px 5% 0px;
  }
  .service{
    width: 100%;
    height: 100%;
    padding: 0%;
    overflow-x: hidden;
  }
  .service_heading h2{
    font-family: var(--heading-font);
    text-transform: uppercase;
    color: #6c63ff;
    font-size: 1.5rem;
    margin: 0px 0px 10px 0px;
  }
  .service_heaing_info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 0px 0px 50px 0px;
  }
  .service_heaing_info h3{
    font-size: 1.3rem;
    font-family: var(--heading-font);
    text-transform: capitalize;
  }
  
  .service_heaing_info p{
    font-size: 0.8rem;
    font-family: var(--main-font);
    width: 70%;
    word-break: break-all;
    text-align: left;
    line-height: 1.6;
    text-transform: capitalize;
    font-weight: 400;
    border: 1px solid #6c63ff;
    padding: 10px;
  }
  .service_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    row-gap: 20px;
    padding: 10px;
  }
}
@media screen and (max-width: 600px){
  .service_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    padding: 10px;
  }
  .service_item{
    box-shadow: 0px 0px 2px #cbcbcb;
    min-height: 100px;
    padding: 30px;
    border-radius: 10px;
  }
}
/******************************this is the end of service*********************************/
.portfolio{
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 5% 0px;
}
.portfolio_heading{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0px 0px 40px 0px;
}
.portfolio_heading h2{
  font-family: var(--heading-font);
  color: #6c63ff;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}

.portfolio_heading h3{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px 10px;
  text-transform: capitalize;
}
.portfolio_heading h3 a{
  color: #6c63ff;
}
.portfolio_heading h3 a span{
  margin-left: 5px;
}



.project_container{
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.project_container .project_item{
  border: 1px solid black;
  min-height: 100px;
  padding: 5px;
  background-color: #6c63ff;
  border-radius: 6px;
}







@media screen and (max-width: 967px){
  .portfolio_wrapper{
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 30%  0px 0px 0px;
    overflow-x: hidden;
  }
  .portfolio_heading{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0px 0px 50px 0px;
  }
  .portfolio_heading h2{
    font-family: var(--heading-font);
    color: #6c63ff;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
  }
  .portfolio_heading h2::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 2px;
    background-color: #cbcbcb;
    border-radius: 10px;
    left: 0;
    bottom: -5px;
  }
  .portfolio_heading p{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid #6c63ff;
    padding: 8px 10px;
    text-align: right;
  }
  .project_heading{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
  }
  .project_heading h3{
    font-family: var(--main-font);
    font-size: 1.2rem;
    text-transform: capitalize;
    width: 300px;
    margin: 0px auto;
    font-weight: 600;
  }
  .portfolio_button{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
  }
  .portfolio_button .port_btn{
    color: #6c63ff;
    border: 1px solid #6c63ff;
    background-color: transparent;
    padding: 8px 10px;
    margin: 0px 10px;
    font-size: 0.7rem;
    text-transform: capitalize;
  }
  .port_btn.activebtn{
    color: #fff;
    background-color: #6c63ff;
    border: none;
  }
  
  .projet_main_container{
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .projet_main_container .project_child{
    border: 1px solid black;
    min-height: 300px;
    padding: 5px;
  }
  .project_child_mini{
    height: 100%;
    border-radius: 10px;
    background-color: #6c63ff;
  }
}
@media screen and (max-width: 767px){
  .projet_main_container{
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  } 
}
@media screen and (max-width: 567px){
  .projet_main_container{
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  } 
}
/***************************this is the end of my portfolio******************************/
.blog{
  width: 100%;
  min-height: 30vh;
  padding: 3% 0px;
}
.blog_heading{
  width: 100%;
  margin: 0px 0px 5% 0px;
}
.blog_heading h2{
  font-family: var(--heading-font);
  color: #6c63ff;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}
.blog_heading p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.blog_item_wrapper{
  width: 85%;
  padding: 10px 14px;
  margin: 0px auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  gap: 10px;
}
.blog_item_wrapper::-webkit-scrollbar{
  display: none;
}
.blog_item{
  min-width: calc(100% / 3);
  scroll-snap-align: start;
  border-radius: 6px;
  box-shadow: 0px 0px 2px #cecece;
  overflow: hidden;
}
.blog_item .blog_img_con{
  width: 100%;
  height: auto;
  margin: 0px 0px 10px 0px;
}
.blog_item .blog_img_con img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.blog_item .blog_item1_details{
  width: 100%;
  padding: 10px;
}
.blog_item .blog_item1_details h3{
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--heading-font);
  color: #6c63ff;
  font-weight: 600;
  font-style: normal;
  margin: 0px 0px 10px 0px;
}
.blog_item .blog_item1_details p{
  font-size: 0.8rem;
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
  margin: 0px 0px 10px 0px;
}
.blog_item .blog_item1_details p span{
  color: #6c63ff;
  font-size: 0.85rem;
}
.blog_item .blog_item1_details a{
  font-size: 0.9rem;
  font-family: var(--main-font);
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  color: #6c63ff;
}
.blog_item .blog_item1_details a:hover{
  text-decoration: underline;
}
.blog_item .blog_item1_details a span{
  margin: 0px 0px 0px 2px;
}
.blog_item .blog_item1_details a span i{
  font-size: 0.8rem;
}
.blogDotContainer{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
}
.blogDot{
  width: 10px ;
  height: 10px;
  background-color: #444444;
  margin: 0px 5px;
}
.activeBlogDot{
  background-color: #6c63ff;
}
.newletter{
  width: 100%;
  height: auto;
  padding: 40px 0px;
  background-image: linear-gradient(to right, rgba(108,99,255,0.7),rgba(108,99,255,0.7)),url(image/web.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-self: center;
  justify-content: center;
}
.newsItem{
  width: 50%;
}
.newsItem h2{
  font-family: var(--heading-font);
  color: var(--body-bg-color);
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.1;
  font-style: italic;
  margin: 0px 0px 10px 0px;
}
.newsItem form{
  display: flex;
  align-items: center;
  width: 100%;
}
.newsItem form input[type = email]{
  flex: 1;
  padding: 14px 10px;
  color: #6c63ff;
  font-weight: 400;
  font-family: var(--main-font);
  font-size: 1rem;
  outline: none;
  border: none !important;
  border-radius: 0;
}
.newsItem form button{
  padding: 15px 10px;
  color: var(--body-bg-color);
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #6c63ff;
  border: none;
}
.newsItem form button span{
  margin: 0px 0px 0px 1px;
}
.newsItem form button span i{
  font-size: 0.9rem;
  color: #f5f5f5;
}
@media screen and (max-width: 1026px){
  .blog{
    width: 100%;
    min-height: 30vh;
    padding: 3% 0px;
  }
  .blog_heading{
    width: 100%;
    padding: 0px 10px;
    margin: 0px 0px 5% 0px;
  }
  .blog_heading h2{
    font-family: var(--heading-font);
    color: #6c63ff;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
  }
  .blog_heading p{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: capitalize;
  }
  
  .blog_item_wrapper{
    width: 85%;
    padding: 10px 0px;
    margin: 0px auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .blog_item_wrapper::-webkit-scrollbar{
    display: none;
  }
  .blog_item{
    min-width: calc(100% / 2);
    scroll-snap-align: start;
    border-radius: 6px;
    box-shadow: 0px 0px 2px #f9f9f9;
    overflow: hidden;
  }
  .newletter{
    width: 100%;
    height: auto;
    padding: 40px 0px;
    background-image: linear-gradient(to right, rgba(108,99,255,0.7),rgba(108,99,255,0.7)),url(image/web.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .newsItem{
    width: 80%;
  }
  .newsItem h2{
    font-family: var(--heading-font);
    color: var(--body-bg-color);
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    line-height: 1;
    font-style: italic;
    margin: 0px 0px 10px 0px;
  }
  .newsItem form{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .newsItem form input[type = email]{
    flex: 1;
    padding: 14px 10px;
    color: #6c63ff;
    font-weight: 400;
    font-family: var(--main-font);
    font-size: 1rem;
    outline: none;
    border: none;
  }
  .newsItem form button{
    padding: 15px 10px;
    color: var(--body-bg-color);
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #6c63ff;
    border: none;
  }
  .newsItem form button span{
    margin: 0px 0px 0px 1px;
    display: none;
  }
}
@media screen and (max-width: 775px){
  .blog_item{
    min-width: calc(100%);
    min-height: 350px;
    scroll-snap-align: start;
    border-radius: 6px;
    box-shadow: 0px 0px 2px #828282;
    overflow: hidden;
  }
}
/************************************************************************/
footer{
  width: 100%;
  min-height: 100px;
  border-top: 1px solid rgb(158, 158, 158);
  padding: 20px 0px;
}
.footer_wrapper{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer_logo h1{
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 1.5rem;
}
.footer_logo h1 a{
  text-decoration: none;
  color: #6c63ff;
  transition: 0.4s ease-in-out;
}
.footer_logo h1 a:hover{
  text-decoration: underline;
  transition: 0.4s ease-in-out;
}
.footer_link{
  width: 100%;
  text-align: right;
}
.footer_link ul{
  list-style: none;
}
.footer_link ul li{
  display: inline-block;
  margin: 10px 10px;
}
.footer_link ul li a{
  font-family: var(--main-font);
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  color: #6b63ff;
}
.footer_link ul li a:hover{
  text-decoration: underline;
  color: #6c63ff;
}
.footer_para{
  width: 100%;
  text-align: center;
}
.footer_para p:nth-child(1){
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.footer_para p a{
  font-family: var(--main-font);
  text-decoration: none;
  color: #6b63ff;
}
.footer_para p:nth-child(2){
  font-size: 0.9rem;
  font-family: var(--main-font);
  font-weight: 400;
  text-transform: capitalize;
}
@media screen and (max-width: 967px){
  footer{
    width: 100%;
    min-height: 100px;
    border-top: 1px solid rgb(158, 158, 158);
    padding: 20px 0px;
  }
  .footer_wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_logo h1{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 1.5rem;
  }
  .footer_logo h1 a{
    text-decoration: none;
    color: #6c63ff;
    transition: 0.4s ease-in-out;
  }
  .footer_logo h1 a:hover{
    text-decoration: underline;
    transition: 0.4s ease-in-out;
  }
  .footer_link{
    width: 100%;
    text-align: right;
  }
  .footer_link ul{
    list-style: none;
    text-align: center;
  }
  .footer_link ul li{
    display: inline-block;
    margin: 10px 10px;
  }
  .footer_link ul li a{
    font-family: var(--main-font);
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
  }
  .footer_link ul li a:hover{
    text-decoration: underline;
    color: #6c63ff;
  }
  .footer_para{
    width: 100%;
    text-align: center;
  }
  .footer_para p:nth-child(1){
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  .footer_para p a{
    font-family: var(--main-font);
    text-decoration: none;
    color: #6b63ff;
  }
}
